<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog | surya kannan kumbhar</title>
    <link id="myStyleSheet" href="/components/light.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/images/android-chrome-512x512.png">
    <link href="/font-awesome/css/all.css" rel="stylesheet">

</head>

<body>
    <nav class="navigation container top" id="navigation">
        <div class="nav-brand">surya kannan kumbhar</div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inline">
                <a class="link" href="/">home</a>
            </li>
            <li class="list-item-inline">
                <a class="link" href="/components/project.html">projects</a>
            </li>
            <li class="list-item-inline">
                <a class="link link-active" href="/blogs.html">blogs</a>
            </li>
        </ul>
    </nav>
    <div class="menuBar">
        <input type="checkbox" class="checkbox" id="chk" />
        <label class="label" for="chk">
            <i class="fas fa-moon"></i>
            <i class="fas fa-sun"></i>
            <div class="ball"></div>
        </label>
    </div>
    <header class="hero-blog" id="hero">
        <img class="hero-image-blog" src="/images/hero-blog.svg">
        <h1 class="hero-heading">my<span class="hero-span">blogs</span></h1>
    </header>
    <section class="section" id="section">
        <div class="container container-center">
            <h1>Getting Started with <span class="hero-span">Pygame</span></h1>
            <small>April, 2021</small>
            <p>want to learn <span class="hero-span"><strong>Pygame Module</strong></span> to make some fun games? i
                have tried to
                cover all the basics into one
                post that will help you get started. give the this article a read.</p>
            <a class="link link-primary" href="https://recyclebin.hashnode.dev/getting-started-with-pygame">read full
                blog</a>
        </div>

    </section>

    <a href="#top">
        <img class="topButton" id="topButton" src="/images/keyboard_capslock-black-48dp.svg" />
    </a>
    <footer class="footer" id="footer">
        <div class="footer-header">
            connect with me
        </div>
        <ul class="social-links list-non-bullet">
            <li class="list-item-inline">
                <a class="link" href="https://www.linkedin.com/in/surya-kannan-kumbhar-58a168177/">
                    linkedin
                </a>
            </li>
            |
            <li class="list-item-inline">
                <a class="link" href="https://twitter.com/SuryaKKumbhar">
                    twitter
                </a>
            </li>
            |
            <li class="list-item-inline">
                <a class="link" href="https://github.com/suryakannankumbhar">
                    github
                </a>
            </li>
        </ul>
    </footer>
    <script src="/components/app.js"></script>

</body>

</html>